<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Mage2sol_Redirect::parent" title="Redirect" module="Mage2sol_Redirect" sortOrder="100" resource="Mage2sol_Redirect::parent"/>
		<add id="Mage2sol_Redirect::redirect" title="Mage2sol Redirect" module="Mage2sol_Redirect" sortOrder="20" parent="Mage2sol_Redirect::parent" action="redirect/redirect" resource="Mage2sol_Redirect::redirect"/>

    </menu>
</config>
